<div style="text-align: center; vertical-align: middle;margin-top: 0px;">
    <div class="contains">
      <mat-card fxFlex="40">
        <mat-card-header>
          <img src="assets/images/logo.png" style=" width: 80%; ">
        </mat-card-header>
        <br>
        <mat-card-content>
          <mat-form-field appearance="fill" style=" width: 65%;">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="user.mail"> 
          </mat-form-field>
          <mat-form-field appearance="fill" style=" width: 65%;">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
          <button class="button" mat-raised-button color="primary" (click)='login()'>Iniciar Sesión</button>
        </mat-card-content>
        <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                  style="background-image: url('assets/images/facebook.png');width: 64px;height: 64px;">
  
                </button>
              </div>
              <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon"
                  style="background-image: url('assets/images/google.png');width: 64px;height: 64px;">
  
                </button>
              </div>
              <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon"
                  style="background-image: url('assets/images/microsoft.png');width: 64px;height: 64px;">
                </button>
              </div>
            </div>
          </div>
        </section>
      </mat-card>
    </div>
  </div>