<mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport="true"
        mode="push"
        opened="false">
      <mat-toolbar color="white">Categorías</mat-toolbar>
      <mat-nav-list *ngFor="let c of categoria">
        <a mat-list-item  [routerLink]="['/categoriaproduct', c.idcategoria]" routerLinkActive="router-link-active">{{c.descripcion}}</a>
      </mat-nav-list>
    </mat-sidenav>
        <mat-sidenav-content>
      <mat-toolbar color="white" style="height: 70px;">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span><a routerLink="/"><img src="assets/images/logoproyecto.png" style=" width: 40%;"></a></span>
        <span class="example-spacer"></span>
        <section *ngIf="mostrarboton">
            <div>
                <a mat-button routerLink="/listar/login" routerLinkActive="active"><mat-icon>person</mat-icon>Iniciar Sesión</a>
            </div>
        </section>
        <section *ngIf="mostrarboton">
            <div >
                <a mat-button routerLink="/listar/registro" routerLinkActive="active">Registrarse</a>
            </div>
        </section>
        <section *ngIf="!mostrarboton">
            <div >
                <a mat-button (click)="desloguear()" >Desloguear</a>
            </div>
        </section>
    </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>
